.bg-blue {
    background-color: #A7DBD8;
}

.bg-beige {
    background-color: #E0E4CC;
}

.bg-orange {
    background-color: #F38630;
}

.text-blue {
    color: #A7DBD8;
}

.text-beige {
    color: #E0E4CC;
}

.text-orange {
    color: #F38630;
}
